<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="serverless, serverlessdays">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:image" content="{{ page.image }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:site" content="{{ page.twitter }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:url" content="{{ page.url }}">
    <meta name="twitter:image" content="{{ page.image }}">
    <meta name="twitter:creator" content="{{ page.twitterhandle }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/senzo/image/upload/c_scale,w_96/v1518368948/ALL-NEW_ALL-DIFFERENT_cwm1cv.png">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

    <script>
        function resizeIframe(e){e.style.height=e.contentWindow.document.body.scrollHeight+"px"}
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136817767-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-136817767-1');
    </script>

    </head>
    <body class="sls-gray">
        {% include 'header.njk' %}

        {% include 'heroContainer.njk' %}

        {%- for post in collections.post -%}
        <a name="{{ post.data.title }}"></a>
        <div class="section">
            <div class="left">
                <div class="title"><h1>{{ post.data.title | safe }}</h1></div>
                <div>&nbsp</div>
            </div>
            <div class="text">
                {{ post.templateContent | safe}}
            </div>
        </div>
        {%- endfor -%}

        {% include 'footer.njk' %}
    </body>
</html>