
</footer>
  <footer class="section footer">
    <div class="row">
      <div><a class="no-underline" href="mailto:{{ page.email }}" title="Email us at {{ page.email }}">{{ page.email }}</a></div>
      <div><a href="{{ page.twitter }}" title="{{ page.title }} on Twitter " class="no-underline verticalCenter" target="_blank ">@{{ page.twitterhandle }}</a></div>
    </div>
    <div class="row mascotte">
      <div><img width="100" height="141" src="img/Moth_mascot.svg"></div>
      <div><img width="100" height="141" src="img/Dino_mascot.svg"></div>
      <div><img width="100" height="141" src="img/unicorn_mascot.svg"></div>
      <div><img width="100" height="141" src="img/owl_mascot.svg"></div>
      <div><img width="100" height="141" src="img/Anteater_mascot.svg"></div>
      <div><img width="100" height="141" src="img/octo_mascot.svg"></div>
    </div>
  </footer>