<header>
    <div class="bg-white">
      <nav class="top-nav">
        <div class="logoContainer">
          <div class="logo"><a href="/" class="verticalCenter"><img src="/img/ServerlessDays_Stockholm_Logo.png" alt="ServerlessDays Stockholm" width="270"></a></div>
        </div>
        <div class="menu bold">

          {%- for post in collections.post -%}
          <a class="no-mobile" href="/#{{ post.data.title }}">{{ post.data.title }}</a>
          {%- endfor -%}

        </div>
      </nav>
    </div>
  </header>