<div class="heroContainer" style="background-image: url('/img/Sthlm_2.JPG'); background-position: center;">
    <div class="heroDate">
      <h1>Dates</h1>
      <ul>
        <li><div class="checkmark">️</div><div class="text">TBD, 2019<br><strong>ServerlessDays Stockholm</strong></div></li>
        <li><div class="checkmark">️</div><div class="text">TBD, 2019<br><strong>ServerlessDays Stockholm</strong></div></li>
        <li><div class="checkmark">️</div><div class="text">TBD, 2019<br><strong>ServerlessDays Stockholm</strong></div></li>
      </ul>
    </div>
    <div class="heroTitle">
      <div class="title">
        <h1>One Day,<br>One Track,<br>One&nbsp;Community</h1>
      </div>
    </div>
  </div>